/* stylelint-disable */
/* Import font */
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('~/assets/font/poppinsFont/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  src: local('PlayfairDisplay'),
    url('~/assets/font/playfairDisplayFont/static/PlayfairDisplay-Regular.ttf')
      format('truetype');
}

/* style - logo */
.logo {
  width: 150px;
  font-family: 'Poppins';
}

.poppins-font,
.foot li,
.foot p,
.map p,
.icons p,
.text p,
.subheader-content,
.customer p,
.box-content p,
.box-content a,
.content p,
.foot a {
  font-family: 'Poppins';
}
/* index-page header font family */
.playfair-font,
.header-content-index,
.header-content,
.body-box h1,
.box-content h2,
.box-content-finder h2,
.paragraph p,
.content h2 {
  font-family: 'Playfair Display';
}
/* navigation menu */
.navbar-link {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #000 !important;
  padding: 7px 10px;
}
.navbar-link:hover {
  background-color: #c9fd6a;
  text-decoration: none !important;
}
.navbar-link:hover {
  text-decoration: none !important;
}
.sm-font {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: 0.6px;
}
.p-text,
.program-list li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  color: #000000;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-center-space-bw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-row-center-space-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.info-header {
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-align: center;
}
.sub-header-H2 {
  letter-spacing: 1.27px;
  color: #000000;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-align: center;
}
.sub-header-H3 {
  font-family: 'Playfair Display';
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  color: #000000;
}
.feature-description-content {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.6px;
  color: #000000;
  margin: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
/* Mentoring image style */
.mentoring-images {
  width: 39%;
  max-height: 352px;
}
@media only screen and (max-width: 640px) {
  .logo {
    width: 100px;
  }
  .info-header {
    font-size: 30px;
  }
  .sub-header-H2 {
    font-size: 24px;
  }
  .sub-header-H3 {
    font-size: 20px;
  }
  .mentoring-images {
    width: 60%;
    height: auto;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .info-header {
    font-size: 35px;
  }
  .sub-header-H2 {
    font-size: 27px;
  }
  .sub-header-H3 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .info-header {
    font-size: 40px;
  }
  .sub-header-H2 {
    font-size: 30px;
  }
  .sub-header-H3 {
    font-size: 25px;
  }
  .mentoring-images {
    width: 300px;
    height: auto;
  }
}
@media only screen and (min-width: 2000px) {
  .wrapper {
    max-width: 1440px;
    margin: auto !important;
    margin-bottom: 100px !important;
  }
}
